{% extends 'layout.html' %}

{% block css %}
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}
    <div id="board" class="mt-5">
        {% for field in game.board %}
            <div class="tile" id="field{{ loop.index }}">{{ field.label }}</div>
        {% endfor %}
        <div id="display">dispaly</div>
    </div>
{% endblock %}

{% block js %}
    {% assets "js_build" %}
        <!-- <link rel=stylesheet type=text/css href="{{ ASSET_URL }}"> -->
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}