{% extends 'layout.html' %}

{% block body %}
    <div class="content-section">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Join game</legend>
                        <div class="form-group">
                            {{ form.join_code.label(class='form-control-label') }}
                            {% if form.join_code.errors %}
                                {{ form.join_code(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.join_code.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.join_code(class='form-control form-control-lg') }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class='btn btn-outline-info') }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}