.content {
  margin-top: 4rem; }

.copy-icon {
  height: 1rem;
  margin-left: 1rem;
  cursor: pointer; }

.start-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #B8C6D0;
  padding: .6rem;
  border-radius: 2.5rem;
  font-size: 1.2rem;
  color: #5f5f5f; }
  .start-btn .icon-box {
    background-color: #41c73c;
    box-shadow: 0px 0px 4px 1px #41c73c;
    margin-left: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .start-btn .icon-box img {
      color: white;
      height: 1.2rem; }
