bcrypt
click
email_validator
Flask
Flask-Assets
Flask-Bcrypt
Flask-Login
Flask-Scss
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
libsass
pycparser
pyScss==1.3.7
python-dotenv
python-engineio
python-socketio
WTForms