{% extends 'layout.html' %} 

{% block css%}
    {% assets "home_scss" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
        <div class="img-container">
            <img class="img-fluid" src="{{url_for('static', filename='images/landing.svg')}}" alt="people playing monopoly">
        </div>
        <div class="text-container">
            Hello from Game: Home
        </div>
    </div>
  </div>
{% endblock %}
