.content{
    margin-top: 4rem;
}

.game_list{
    padding: 0;
    margin: 0;
    padding-left: 1rem;
    list-style: none;
    max-height: 80vh;
    min-height: 20vh;
    // overflow-y: auto;
    
}

.game a{
    &:hover{color: brown;}
}