* {
  padding: 0;
  margin: 0; }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif; }

    #board {
      height: 95vh;
      display: grid;
      grid-template-columns: 2fr repeat(9, 1fr) 2fr;
      grid-template-rows: 2fr repeat(9, 1fr) 2fr; }

      .players {
        position: absolute;
        display: flex;
        bottom: 1px; }

        .player {
          width: 25px;
          height: 25px;
          margin-left: 2px;
          border-radius: 50%; }

          .ownership {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 5px; }

            .msgs {
              height: 450px;
              width: 50%;
              max-height: 50vh;
              overflow-y: scroll; }

              .buildings {
                position: absolute;
                top: 0;
                right: 2px; }

#field0 {
  grid-row: 11;
  grid-column: 11; }

  #field1 {
    grid-row: 11;
    grid-column: 10; }

    #field2 {
      grid-row: 11;
      grid-column: 9; }

      #field3 {
        grid-row: 11;
        grid-column: 8; }

        #field4 {
          grid-row: 11;
          grid-column: 7; }

          #field5 {
            grid-row: 11;
            grid-column: 6; }

            #field6 {
              grid-row: 11;
              grid-column: 5; }

              #field7 {
                grid-row: 11;
                grid-column: 4; }

                #field8 {
                  grid-row: 11;
                  grid-column: 3; }

                  #field9 {
                    grid-row: 11;
                    grid-column: 2; }

                    #field10 {
                      grid-row: 11;
                      grid-column: 1; }

                      #field11 {
                        grid-row: 10;
                        grid-column: 1; }

                        #field12 {
                          grid-row: 9;
                          grid-column: 1; }

                          #field13 {
                            grid-row: 8;
                            grid-column: 1; }

                            #field14 {
                              grid-row: 7;
                              grid-column: 1; }

                              #field15 {
                                grid-row: 6;
                                grid-column: 1; }

                                #field16 {
                                  grid-row: 5;
                                  grid-column: 1; }

                                  #field17 {
                                    grid-row: 4;
                                    grid-column: 1; }

                                    #field18 {
                                      grid-row: 3;
                                      grid-column: 1; }

                                      #field19 {
                                        grid-row: 2;
                                        grid-column: 1; }

                                        #field20 {
                                          grid-row: 1;
                                          grid-column: 1; }

                                          #field21 {
                                            grid-row: 1;
                                            grid-column: 2; }

                                            #field22 {
                                              grid-row: 1;
                                              grid-column: 3; }

                                              #field23 {
                                                grid-row: 1;
                                                grid-column: 4; }

                                                #field24 {
                                                  grid-row: 1;
                                                  grid-column: 5; }

                                                  #field25 {
                                                    grid-row: 1;
                                                    grid-column: 6; }

                                                    #field26 {
                                                      grid-row: 1;
                                                      grid-column: 7; }

                                                      #field27 {
                                                        grid-row: 1;
                                                        grid-column: 8; }

                                                        #field28 {
                                                          grid-row: 1;
                                                          grid-column: 9; }

                                                          #field29 {
                                                            grid-row: 1;
                                                            grid-column: 10; }

                                                            #field30 {
                                                              grid-row: 1;
                                                              grid-column: 11; }

                                                              #field31 {
                                                                grid-row: 2;
                                                                grid-column: 11; }

                                                                #field32 {
                                                                  grid-row: 3;
                                                                  grid-column: 11; }

                                                                  #field33 {
                                                                    grid-row: 4;
                                                                    grid-column: 11; }

                                                                    #field34 {
                                                                      grid-row: 5;
                                                                      grid-column: 11; }

                                                                      #field35 {
                                                                        grid-row: 6;
                                                                        grid-column: 11; }

                                                                        #field36 {
                                                                          grid-row: 7;
                                                                          grid-column: 11; }

                                                                          #field37 {
                                                                            grid-row: 8;
                                                                            grid-column: 11; }

                                                                            #field38 {
                                                                              grid-row: 9;
                                                                              grid-column: 11; }

                                                                              #field39 {
                                                                                grid-row: 10;
                                                                                grid-column: 11; }

                                                                                #display {
                                                                                  grid-column: 2 / span 9;
                                                                                  grid-row: 2 / span 9; }

                                                                                  .tile {
                                                                                    border: 1px solid black;
                                                                                    display: flex;
                                                                                    justify-content: center;
                                                                                    align-items: center;
                                                                                    text-align: center;
                                                                                    position: relative; }
