html {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #131514; }
  html a {
    text-decoration: none;
    color: #131514; }
    html * {
      box-sizing: border-box; }

.container {
  width: 90vw;
  margin: auto; }

  .gradient-text {
    font-size: 72px;
    background: linear-gradient(15deg, black 50%, #505050 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
