*{
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#board {
  height: 95vh;
  display: grid;
  grid-template-columns: 2fr repeat(9, 1fr) 2fr;
  grid-template-rows:  2fr repeat(9, 1fr) 2fr;
  
}

.players{
  position: absolute;
  display: flex;
  bottom: 1px;
}

.player{
  width: 25px;
  height: 25px;
  background-color: #17a2b8;
  margin-left: 2px;
  border-radius: 50%;
}

.msgs{
  height: 450px;
  width: 50%;
  max-height: 50vh;
  overflow-y: scroll;
}
