*{
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#board {
  height: 85vh;
  display: grid;
  grid-template-columns: 2fr repeat(9, 1fr) 2fr;
  grid-template-rows:  2fr repeat(9, 1fr) 2fr;
  
}

.players{
  position: absolute;
  display: flex;
  bottom: 1px;
}

.player{
  width: 25px;
  height: 25px;
  margin-left: 2px;
  border-radius: 50%;
}

.ownership{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
}

.msgs{
  height: 50%;
  max-height: 50vh;
  overflow-y: scroll;
}

.msg{
  padding: .4rem;
  margin-bottom: .2rem;
  border: 1px solid grey;
  border-radius: 4px;
}

.buildings{
  position: absolute;
  top: 0;
  right: 2px;
}

#display{
  display: flex;
  >div{
    flex: 1;
  }
}

#dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem .75rem 1.5rem 1.5rem;
}

#card_container{
  visibility: hidden;
  padding: 1.5rem .75rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem .75rem 1.5rem 1.5rem;
}
.buildings{
  font-size: 12px;
}

.card-body{
  // border: 1px solid grey;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

