<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5 pt-1">
        {% block body %}{% endblock %}
    </div>
    {% include 'messages.html' %}
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>