
header {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: baseline;
  position: absolute;
  top: 0; }
  header a {
    text-decoration: none; }
  header .separator {
    height: 1rem;
    width: 1px;
    padding-left: 1rem;
    border-right: 3px solid gray; }
  header .logo {
    font-weight: 700;
    font-size: 1.3rem; }
  header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    header nav ul li {
      padding-left: 1rem; }
